name: master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-test-cpp:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update && sudo apt-get install -y wget unzip cmake libgtest-dev clang-format
      - name: Fetch libtorch
        run: wget https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-2.5.1%2Bcpu.zip && unzip libtorch-cxx11-abi-shared-with-deps-2.5.1+cpu.zip
      - name: Run format checking
        run: bash scripts/run_format.sh -c
      - name: Run tests
        run: bash scripts/run_cpp_tests.sh

  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install test dependencies
      run: |
        python -m pip install -r requirements-dev.txt
    - name: Install pytorch
      run: |
        python -m pip install torch==2.5.1 --index-url https://download.pytorch.org/whl/cpu
    - name: Run linting
      run: |
        bash scripts/ci_checks.sh

  code-coverage-python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install test dependencies
      run: |
        python -m pip install -r requirements-dev.txt
    - name: Install pytorch
      run: |
        python -m pip install torch==2.5.1 --index-url https://download.pytorch.org/whl/cpu
    - name: Code coverage
      run: |
        python -m pip install --no-build-isolation -e .
        pytest --cov=pt_soft_nms --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  test-python:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
        os: [ubuntu-latest]
        pytorch-version: ['2.5.1']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pytorch
      run: |
        python -m pip install torch==${{ matrix.pytorch-version }} --index-url https://download.pytorch.org/whl/cpu
    - name: Install package
      run: |
        python -m pip install -r requirements-dev.txt
        python -m pip install --no-build-isolation .
    - name: Run unit tests
      run: |
        pytest tests/

  build-windows:
    runs-on: "windows-latest"
    strategy:
      matrix:
        python-version: ['3.12']
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install test dependencies
      run: |
        python -m pip install -r requirements-dev.txt
    - name: Install pytorch
      run: |
        python -m pip install torch==2.5.1 --index-url https://download.pytorch.org/whl/cpu
    - name: Install package
      run: |
        python -m pip install --no-build-isolation .
      env:
        DISTUTILS_USE_SDK: 1
    - name: Run unit tests
      run: pytest tests/
